article {
    p, h1, h2, h3 {
        padding: 0 2%;
    }

    p:first {
        font-style: italic;
    }

    .info {
        font-style: italic;
        font-size: smaller;
        text-align: right;
        padding: 0 2%;
    }

    h1 {
        font-family: 'Suez One', serif;
        font-size: 1.5em;
        line-height: 100%;
        font-weight: normal;
        color: $primary;
    }

    h2, h3 {
        line-height: 100%;
    }

    img {
        width: 108%;
        margin: 0 -1em;
    }
}