article.summary {
    margin: 0.5em 0;
    position: relative;

    div {
        padding: 0 0.5em;
    }

    h1 {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        font-family: 'Suez One', serif;
        font-size: 1.5em;
        padding: 0.5em;

        // Skew
        background: $primary;
        transform: skewY(-4deg);
        transform-origin: top left;

        a:link,
        a:visited {
            color: $background;
            text-decoration: none;
            font-weight: normal;
            // -webkit-text-stroke: 0.04em $background;
        }
    }

    .picture {
        min-height: 100px;
        padding: 0;
    }

    img {
        width: 100%;
        z-index: 0;
    }
}