<a href="{{ .Permalink }}" class="permalink">
	<article class="summary">
		<h1>{{ .Title }}</h1>
		<div class="picture">
			{{ $img := .Resources.GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
			{{ if $img }}
				<img src="{{ $img.Permalink }}"/>
			{{ else }}
				<img src="/imgs/missing-image.png"/>
			{{ end }}
		</div>
		<div class="info">
			Scritto il <time>{{ .Date.Format "02.01.2006" }}</time>
			da <span>{{ .Params.Author }}</span>
		</div>
		<div class="text">
			{{ .Summary }}
		</div>
	</article>
</a>
